[{:name "Нижегородский выставочный комплекс"
  :lat 56.325760
  :lng 44.004964
  :events [{:headline "Михаил Поляков. Живопись. Персональная выставка."
            :link "http://ngvk.ru/news/2014/05/17/1474/"
            :description ""
            :begin-date "17-05-2014"
            :end-date "15-06-2014"}
           {:headline "Петр Оссовский \"ВСПОМИНАЯ БЫЛОЕ...\""
            :link "http://ngvk.ru/news/2014/05/16/1472/"
            :description "<p>Персональная выставка работ. Авторская экспозиция.</p><p>Петр Оссовский - Народный художник СССР, лауреат Государственной премии СССР и Международной премии им. Шолохова, действительный член Российской академии художеств, один из основоположников «сурового стиля» в искусстве, является крупнейшим художником России второй половины ХХ века.</p> "
            :begin-date "16-05-2014"
            :end-date "6-07-2014"}
           {:headline "Андрей Пашкевич (1945-2011) \"ПОЛИТЭКОЛОГИЯ\""
            :link "http://ngvk.ru/news/2014/05/14/1470/"
            :description "<p>Выставка памяти</p>"
            :begin-date "14-05-2014"
            :end-date "15-06-2014"}]}
 {:name "Государственный центр современного искусства Арсенал"
  :lat 56.328876
  :lng 44.007029
  :events [{:headline "«За отвагу»"
            :link "http://www.ncca.ru/events.text?filial=3&id=2322"
            :description "<p><b>Зал «Под сводами», 2 этаж</b></p><p>Живописный проект Александра Виноградова и Владимира Дубоссарского. Выставка приурочена к 69-й годовщине победы в Великой Отечественной войне.</p><p>Вход свободный.</p>"
            :begin-date "30-04-2014"
            :end-date "18-05-2014"}
           {:headline "Ночь музеев в Арсенале"
            :link "http://www.ncca.ru/events.text?filial=3&id=2334"
            :description "<p><b>«Что-то в воздухе!»</b></p><p>Выставки, лекции по философии и науке в абсолютной темноте, мастер-классы и мультфильмы для детей и их родителей, экскурсии на стройку, а также множество сюрпризов.</p>"
            :begin-date "17-05-2014"
            :end-date "17-05-2014"}]}]
